@keyframes countdown {
	0% {
		opacity: 0;
		transform: translate(-50%, -50%) scale(0);
	}
	50% {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
	100% {
		opacity: 0;
		transform: translate(-50%, -50%) scale(6);
	}
}

@keyframes drain {
	0% {
		transform: translateY(-50px);
	}
	100% {
		transform: translateY(100%);
	}
}
