@keyframes timerBackgroundColor {
	0% {
		background-color: #10b981;
	}
	50% {
		background-color: #f59e0b;
	}
	100% {
		background-color: #ef4444;
	}
}
@keyframes timerBorderColor {
	0% {
		border-color: #10b981;
	}
	50% {
		border-color: #f59e0b;
	}
	100% {
		border-color: #ef4444;
	}
}
